<!-- 
    README: This holds "<section>"s and "<scripts>" in the Body.
            There are styles in the Head.
    Copy and paste into an IDE, and you can collapse sections for easier navigation

    TODO: post display could grab post's _id from clicked post, grab that post(from the already-fetched data), and then fetch the associated comments to that _id

        make comment button/form, which will need a post display 

        posts/comments should probably be stored in localStorage as a faux-state managment. this will allow us to add to localStorage at the same time as the DB, giving the illusion of a live-updating page
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Page</title>
    <script>
        const baseUrl = "https://philly-outreach-67a8895e1869.herokuapp.com";
        // let baseUrl = "http://localhost:3000";
    </script>


    <!-- login/reg styles -->
    <style>
        #login-reg-section {
            border-radius: .5rem;
            border: 1px solid #538975;
        }

        #login-reg-section button {
            border-radius: .3rem;
            border: 1px solid #538975;
            color: #538975;
            background-color: transparent;
        }

        #login-reg-section button:hover {
            border-radius: .3rem;
            border: 1px solid #538975;
            color: white;
            background-color: rgba(83, 137, 117, .75);
        }

        #login-form,
        #login-form-x {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            flex-wrap: wrap;
        }
    </style>

    <style>
        #posts {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* border: 1px solid red; */
        }

        .post {
            border: 1.5px solid whitesmoke;
            display: flex;
            flex-direction: row;
            width: 80vw;
            justify-content: center;
        }

        .post-pic {
            display: flex;
            justify-content: center;
            align-items: center;
            /* border: 1px solid red; */
            width: 5rem;
            height: 5rem;
        }

        .profile-pic {
            border-radius: 50%;
            background-color: grey;
            width: 3rem;
            height: 3rem;

        }

        .post-content {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .post-extras {
            display: flex;
            justify-content: flex-end;
        }

        .post-time {
            justify-content: flex-end;
        }
    </style>
</head>

<body>

    <!-- This body will act as the container in squarespace, individual components and scripts can go in here -->
    <!-- This holds the login-registration section -->
    <section id="login-reg-section">
        <div id="registration-form-display">

            <div id="login-form">
                <div id="login-form-x">
                    <h2>User Login</h2>
                    <ul id="loginErrors">
                    </ul>
                    <input type="text" id="email" placeholder="Email Address">
                    <input type="password" id="password" placeholder="Password">
                </div>
                <button id="loginButton">Log In</button>
                <button id="toggle-registration">Don't have an account?</button>

            </div>
            <form id="registration-form" style="display:none" action="/auth/passport/register" method="POST">
                <h2>User Registration</h2>
                <ul id='registration-errors'>
                </ul>
                <!-- First Name -->
                <label for="firstname">First Name:</label>
                <input type="text" id="firstname" name="firstname" required><br>

                <!-- Last Name -->
                <label for="lastname">Last Name:</label>
                <input type="text" id="lastname" name="lastname" required><br>

                <!-- Email -->
                <label for="email">Email:</label>
                <input type="email" id="register-email" name="email" required><br>

                <!-- Password -->
                <label for="password">Password:</label>
                <input type="password" id="register-password" name="password" required><br>
                <label for="verify-password">Verify Password:</label>
                <input type="password" id="verify-password" name="verify-password" required><br>


                <!-- Submit Button -->
                <button type="submit">Register</button>
                <button id="toggle-login">Already have an account?</button>
            </form>

        </div>
        <div style="display: flex; ">
            <div id="persistent-user">
            </div>
            <button id="logoutButton" style="display:none">Logout</button>
        </div>
    </section>
    <!-- logic for login and registration -->
    <script>
        const registrationForm = document.getElementById("registration-form");
        const loginForm = document.getElementById("login-form");
        const loginFlow = document.getElementById('registration-form-display')
        let toggleRegistration = document.getElementById('toggle-registration')
        let toggleLogin = document.getElementById('toggle-login')
        let persistentUser = document.getElementById('persistent-user');

        let currentUser = '';

        let token = localStorage.getItem('token') ? localStorage.getItem('token') : ""; // Store the token received after successful login

        (async function persistentLogin() {
            token = localStorage.getItem('token') ? localStorage.getItem('token') : 'no Token';

            console.log('in persistent login', token)
            if (token && token !== 'no Token') {
                let currentCheck = await fetch(`${baseUrl}/auth/passport/current`, {
                    method: "GET",
                    headers: {
                        "Authorization": `${token}`
                    }
                });
                let user = await currentCheck.json();
                console.log(user, 'retrieved user')
                loginFlow.style.display = 'none'
                const welcome = document.createElement('h2');
                welcome.innerHTML = `Welcome back, ${user.body.firstname}`
                persistentUser.appendChild(welcome);
                logoutButton.style.display = ""
                currentUser = user.body.id;
                return currentUser
            } else {
                return null
            }
        })();


        loginButton.addEventListener("click", async (e) => {
            e.preventDefault();
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;
            const response = await fetch(`${baseUrl}/auth/passport/login`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ email, password })
            });
            let body = response.body;

            let res = await response.json()
            console.log(res, 'res in loginbutton')

            if (!res.error) {
                // const data = await response.json();
                token = res.token;
                localStorage.setItem('token', token);
                loginForm.style.display = "none";
                // console.log(res)
                persistentUser.innerHTML = `<h2> Welcome, ${res.user.firstname}</h2>`

            } else {
                // let error = document.createElement("li");
                loginErrors.innerHTML = `${res.error}`;
                // loginErrors.append(error);
            }
        });
        //Submit listener
        registrationForm.addEventListener("submit", async (e) => {
            e.preventDefault();
            // Extract form values
            const firstname = document.getElementById("firstname").value;
            const lastname = document.getElementById("lastname").value;
            const email = document.getElementById("register-email").value;
            const password = document.getElementById("register-password").value;
            const verifyPassword = document.getElementById("verify-password").value;

            const errors = document.getElementById("registration-errors");

            // Check if passwords match
            if (password !== verifyPassword) {
                // Display an error message or handle the password mismatch
                console.error("Passwords do not match.");
                const passErr = document.createElement("li");
                console.log(1, password, 2, verifyPassword)
                passErr.innerHTML = "Passwords do not match"
                errors.appendChild(passErr)
                return;
            }

            // Create a user object with the form data
            const user = {
                firstname,
                lastname,
                email,
                password
            };
            console.log(user, 'user in reg')
            // Send the user object to the server for registration
            const response = await fetch(`${baseUrl}/auth/passport/register`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(user)
            });
            console.log(response, 'raw response')
            console.log(JSON.stringify(response))

            if (response.ok) {
                // Registration was successful
                // You can handle success as needed (e.g., redirect to a login page)
                console.log("Registration successful!");
                errors.innerHTML = 'Registration successful!'

            } else {
                errors.innerHTML = ''
                // Registration failed, handle errors
                const errorData = await response.json();
                console.error("Registration failed:", errorData.errors);
                errorData.errors?.forEach(err => {
                    console.log(err);
                    const regErr = document.createElement("li");
                    regErr.innerHTML = err.msg;
                    errors.appendChild(regErr)
                })

            }

        });


        toggleRegistration.addEventListener('click', async (e) => {
            e.preventDefault();
            registrationForm.style.display === "none" ? registrationForm.style.display = "" : registrationForm.style.display = "none";
            loginForm.style.display !== "none" ? loginForm.style.display = "none" : loginForm.style.display = "";
        })
        toggleLogin.addEventListener('click', async (e) => {
            e.preventDefault();
            registrationForm.style.display === "none" ? registrationForm.style.display = "" : registrationForm.style.display = "none";
            loginForm.style.display !== "none" ? loginForm.style.display = "none" : loginForm.style.display = "";
        })


    </script>


    <!-- logic for post gallery -->
    <section id="post-section">


        <!-- <h1>New Post Submission - ignore atm </h1> -->
        <ul id="post-errors">

        </ul>
        <form id="post-form" style="display:none" action="/api/posts" method="POST">
            <!-- User ID (You may handle this on the server side) -->
            <input type="hidden" name="user" value="555dffdfd9ca3accac55f5dfc2">
            <!-- Title -->
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required><br>

            <!-- Body -->
            <label for="body">Body:</label>
            <textarea id="body" name="body" rows="4" required></textarea><br>

            <!-- Topic : perhaps a set selection of topics? -->
            <label for="topic">Topic:</label>
            <input type="text" id="topic" name="topic" required><br>

            <!-- Submit Button -->
            <button type="submit">Submit Post</button>
        </form>
        <button id="toggle-post-form" style="display:none">Post</button>
        <!-- Here will be topic filters at some point. -->
        <!-- <select id="topic-selection">
        <option value="shelter">Shelter</option>
        <option value="food">Food</option>
        <option value="transportation">Transportation</option>
        <option value="work-programs">Work Programs</option>
    </select> -->
        <h2> Sample posts to practice styling</h2>
        <div id="posts"></div>
    </section>
    <script>
        const postForm = document.getElementById('post-form');
        const toggleForm = document.getElementById('toggle-post-form');

        const postsContainer = document.getElementById("posts");
        // let currentUser = '';

        // let token = localStorage.getItem('token') ? localStorage.getItem('token') : ""; // Store the token received after successful login

        (async function persistentLogin() {
            token = localStorage.getItem('token') ? localStorage.getItem('token') : 'no Token';

            // console.log('in persistent login', token)
            if (token) {
                let currentCheck = await fetch(`${baseUrl}/auth/passport/`, {
                    method: "GET",
                    headers: {
                        "Authorization": `${token}`
                    }
                });
                let user = await currentCheck.json();
                console.log(user, 'retrieved user')
                currentUser = user.body.id;
                toggleForm.style.display = ''
                return currentUser
            } else {
                return null
            }

        })();

        toggleForm.addEventListener('click', async (e) => {
            e.preventDefault();
            postForm.style.display === "none" ? postForm.style.display = "flex" : postForm.style.display = "none";
        })

        postForm.addEventListener('submit', async (e) => {
            e.preventDefault();
            let topic = document.getElementById('topic').value;
            let title = document.getElementById('title').value;
            let body = document.getElementById('body').value;
            let post = { user: currentUser, topic, title, body }
            const errors = document.getElementById("post-errors");

            async function postPost() {
                let currentCheck = await fetch(`${baseUrl}/api/posts/`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(post)
                });

                let response = await currentCheck.json();
                console.log(response, "attempted post")
                if (response.errors) {
                    const errorData = response;
                    console.error("Registration failed:", errorData.errors);
                    errorData.errors?.forEach(err => {
                        console.log(err);
                        const postErr = document.createElement("li");
                        postErr.innerHTML = err.msg;
                        errors.appendChild(postErr)
                    })

                }
                return res;
            }
            if (currentUser) {
                console.log(post)
                console.log(currentUser)

                await postPost();

            } else {
                console.log('Please sign in!')
            }
        })
        function timeAgo(timestamp) {
            const currentTime = new Date();
            const pastTime = new Date(timestamp);

            const timeDifference = currentTime - pastTime;

            const hoursAgo = Math.floor(timeDifference / (1000 * 60 * 60));

            if (hoursAgo < 24) {
                if (hoursAgo === 0) {
                    return "Less than an hour ago";
                } else if (hoursAgo === 1) {
                    return "1 hour ago";
                } else {
                    return `${hoursAgo} hours ago`;
                }
            } else {
                // Format as "mm/dd/yy"
                const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
                return pastTime.toLocaleDateString(undefined, options);
            }
        }


        async function fetchAndDisplayPosts() {
            const response = await fetch(`${baseUrl}/api/posts`);
            const rezzy = await response.json();
            const posts = rezzy.data.posts;//consider raising out of block scope to access already-fetched posts
            postsContainer.innerHTML = "";
            console.log(posts)
            posts.forEach(post => {
                const postElement = document.createElement("div");
                postElement.innerHTML = `
                    <div key=${post._id} id=${post._id} class='post'>
                        <div class='post-pic'>
                            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/669dbabb-d4c5-4170-bbe6-1fffd7b4bb09/d1hqao6-65cb92af-df90-4453-883f-9969721d6e40.png/v1/fill/w_894,h_894,q_75,strp/strawhat_sail_flag__by_zerocustom1989.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sIm9iaiI6W1t7InBhdGgiOiIvZi82NjlkYmFiYi1kNGM1LTQxNzAtYmJlNi0xZmZmZDdiNGJiMDkvZDFocWFvNi02NWNiOTJhZi1kZjkwLTQ0NTMtODgzZi05OTY5NzIxZDZlNDAucG5nIiwid2lkdGgiOiI8PTg5NCIsImhlaWdodCI6Ijw9ODk0In1dXX0.33xY1VmT061dntiaITL9pHHrzqiU2lhc1TXSkIuj4Wk" alt="" class='profile-pic'>
                        </div>
                        <div class='post-content'>
                            <h3 class='post-title'>${post.title}</h3>
                            <p class='post-body'>${post.body}</p>
                            <div class='post-extras'>
                                <p class='post-time'>${timeAgo(post.createdAt)}</p>
                            </div>
                        </div>
                    </div >
                `;
                postsContainer.appendChild(postElement);
            });
        }
        fetchAndDisplayPosts();

        // const loginButton = document.getElementById('loginButton');
        loginButton.addEventListener("click", async (e) => {
            e.preventDefault();
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;
            const response = await fetch(`${baseUrl}/auth/passport/login`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ email, password })
            });
            let body = response.body;

            let res = await response.json()
            console.log(res, 'res in loginbutton')

            if (!res.error) {
                // const data = await response.json();
                token = res.token;
                localStorage.setItem('token', token);
                loginForm.style.display = "none";
                location.reload();
                // fetchAndDisplayPosts();//removed when separated: user's login token will be used 
            } else {
                // let error = document.createElement("li");
                loginErrors.innerHTML = `${res.error}`;
                // loginErrors.append(error);
            }
            //  else {
            //     alert("Login failed. Please check your credentials.");
            // }
        });

        // const logoutButton = document.getElementById('logoutButton');
        logoutButton.addEventListener("click", async (e) => {
            e.preventDefault();
            localStorage.clear('token');
            location.reload();
        });

    </script>

</body>

</html>
