<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>

<body>
    <h1>User Registration</h1>
    <form id="registrationForm" action="/auth/passport/register" method="POST">
        <!-- First Name -->
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" required><br>

        <!-- Last Name -->
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" required><br>

        <!-- Email -->
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <!-- Password -->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <label for="password">Verify Password:</label>
        <input type="password" id="password" name="password" required><br>


        <!-- Submit Button -->
        <button type="submit">Register</button>
    </form>
</body>

</html>
